$color-primary: #fca838;
$padding-base: 20px;
$margin-base:20px;
.flex{
    display: flex;
    align-items: center;
}
.flex-center{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}
.flex-column{
    flex-direction: column;
}
.flex-start{
    justify-content: flex-start;
}
.flex-y-start{
    align-items: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.text-primary{
    color: $color-primary;
}
.text-white{
    color: #fff;
}
.bold{
    font-weight: bold;
}
.text-ellipsis{
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-ellipsis-2{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* 这里是超出几行省略 */
}

.padding-x{
    padding-left: $padding-base;
    padding-right: $padding-base;
}
.padding-y {
    padding-top: $padding-base;
    padding-bottom: $padding-base;
}
.padding{
    padding: $padding-base;
}
.margin-t {
    margin-top: $margin-base;
}
.margin-t-s{
    margin-top: 10px;
}
.margin-y{
    margin-top: $margin-base;
    margin-bottom: $margin-base;
}
.margin-b{
    margin-bottom: $margin-base;
}


.card {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding: 20px;
  margin-top: -20px;
  .title {
    margin-top: -20px;
    height: 55px;
    line-height: 55px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #e9e9e9;
  }
  .sub-title {
    font-size: 13px;
    color: #333;
    font-weight: 600;
    padding: 10px 0;
  }
}