/* 在这里覆盖 vant的 css 变量 */
/* https://vant-contrib.gitee.io/vant/#/zh-CN/config-provider */
html,body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}
body {
    background: #f5f7f9;
    min-height: 100vh;
}
:root:root{
    --van-blue: #fca838;
    --van-nav-bar-title-text-color:var(--van-blue);
    --van-tab-active-text-color:var(--van-blue)
}
i{
    font-style: normal;
}